.laptop{
    align-items: center;
    background: url('../../images/illustration-laptop-desktop.svg');
    background-repeat: no-repeat;
    background-position: -30% 50%;
    background-size:50%;
    height: 70vh;
    padding: 10rem 6rem;
}

.laptop__box{
    padding-left: 50%;
    width: 50%;
}

.img__laptop__mb{
    display: none;
}

.box{
    margin-bottom: 2rem;
}

.box__title{
    color: var(--very-dark-blue);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.box__para{
    color: var(--very-dark-grayish-blue);
    line-height: 1.5rem;
    width: 80%;
}

@media screen and (max-width: 375px) {
    .laptop{
        align-items: center;
        background: none;
        flex-direction: column;
        height: auto;
        padding: 0;
        justify-content: center;
        width: 100%;
    }

    .img__laptop__mb{
        display: flex;
        width: 100%;
    }

    .box{
        align-items: center;
        width: 90%;
        justify-content: center;
    }

    .laptop__box{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-left: 0%;
        width: 100%;
    }

    
    .box__title{
        text-align: center;
    }
    
    .box__para{
        text-align: center;
        width: 100%;
    }
}