.state{
    align-items: center;
    background: var(--very-dark-gray-blue);
    background-image: url('../../images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -70% 90%;
    border-radius: 0 5rem 0 5rem;
    display: flex;
    height: 50vh;
    margin: 5rem 0;
}

.state__text{
    color: var(--white);
    margin-left: 3rem;
}

.state__title{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.state__paragraph{
    color: var(--grayish-blue);
    line-height: 1.5rem;
    width: 70%;
}

@media screen and (max-width: 768px) {
    .state{
        flex-direction: column;
        height: 50vh;
        background-position: center 100%;
        margin-top: 200px;
    }    

    .img__state{
        margin-top: -30%;
        width: 50%;
    }

    .state__text{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
        text-align: center;
        width: 100%;
    }

    .state__paragraph{
        width: 90%;
    }
}


@media screen and (max-width: 375px) {
    .state{
        background-position: center -80%;
        background-size: 100%;
        flex-direction: column;
        height: 500px;
    }    

    .img__state{
        margin-top: -30%;
        width: 80%;
    }

    .state__text{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
        text-align: center;
        width: 100%;
    }

    .state__paragraph{
        width: 90%;
    }
}





