@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root{
--light-red-1: hsl(356, 100%, 66%);
--very-light-red-1: hsl(355, 100%, 74%);
--very-dark-blue: hsl(208, 49%, 24%);
--light-blue: hsl(208, 39%, 36%);

--white: hsl(0, 0%, 100%);
--grayish-blue: hsl(240, 2%, 79%);
--very-grayish-blue: hsl(240, 5%, 88%);
--very-grayish-blue-2: hsl(0, 0%, 94%);
--very-dark-grayish-blue: hsl(207, 13%, 34%);
--very-dark-black-blue: hsl(240, 10%, 16%);

--very-light-red-2: hsl(13, 100%, 72%);
--light-red-2: hsl(353, 100%, 62%);

--very-dark-gray-blue: hsl(237, 17%, 21%);
--very-dark-desaturated-blue: hsl(237, 23%, 32%);

--ff-overpass:'Overpass', sans-serif;
--ff-ubuntu: 'Ubuntu', sans-serif;
}

body{
    font-family: var(--ff-overpass);
}